@import url('https://fonts.googleapis.com/css?family=Lato|Lora|Pavanam');

body {
  font-size: 18px;
  font-family: "Lato","Lora","Pavanam",sans-serif;
  width: 960px;
  margin:0 auto;
  line-height: 1.5;
  background-image: url("../img/marble.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center;
}


h1 {
  top: 10px;
  position: relative;
  font-size: 36px;
}

p {
  font-family: "Lato",sans-serif;
}

h1,h2,h3 {
  font-family: "Lora",sans-serif;
  margin: 0;
}

h3 {
font-size: 20px;
}

li {
  font-family: "Pavanam",sans-serif;
  font-size: 18px;
}

#resume header {
  position:relative;
  color: #222;
}

header a {
  color: rgb(101,158,199);
}

nav {
  position: relative;
  z-index: 10;
}

nav ul {
  margin-right: 120px;
  list-style: none;
  border: 2px;
  float: right;
  position: relative;
}

nav a:visited {
  color: rgb(127,78,82);
}

nav a:hover {
  text-decoration: underline;
  color: rgb(236,197,192);
}

nav a:active {
  color: rgb(131,126,124);
}

nav li {
  font-size: 20px;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 0;
}

main {
  position: relative;
}

section {
  padding-left: 25px;
  margin-top: 10px;
  margin-left: 100px;
}

#homephoto {
  margin-right: 10px;
  float: left;
}

#homep {
  margin-top: 40px;
  margin-right: 10px;
}

#education {
  margin-top: 30px;
}

#education a {
  color: rgb(101,158,199);
}

#education a:visited {
  color: rgb(127,78,82);
}

#education a:hover {
  text-decoration: underline;
  color: rgb(236,197,192);
}

#education a:active {
  color: rgb(131,126,124);
}

#education h2 {
  color: rgb(114,110,109);
}

#education li {
  color: rgb(132,132,130);
}

#working-experience a {
  color: rgb(101,158,199);
}

#working-experience a:visited {
  color: rgb(127,78,82);
}

#working-experience a:hover {
  text-decoration: underline;
  color: rgb(236,197,192);
}

#working-experience a:active {
  color: rgb(131,126,124);
}


#working-experience li {
  color: rgb(132,132,130);
}

#working-experience h2 {
  color: rgb(114,110,109);
}

#working-experience h3 {
  margin-top: 15px;
}

#working-experience p {
  margin-top: auto;
}

#activity h2 {
  color: rgb(114,110,109);
}

#activity li {
  color: rgb(132,132,130);
}

#language h2 {
  color: rgb(114,110,109);
}

#language li {
  color: rgb(132,132,130);
}

#skills ul {
  margin-top: 0;
}

#skills h2 {
  color: rgb(114,110,109);
  margin: 0;
}

#skills li {
  color: rgb(132,132,130);
  margin: 0;
}

#skill1 {
  max-width: 260px;
  position: absolute;
  left: 0;
  padding-left: 150px;
}

#skill2 {
  max-width: 260px;
  position: absolute;
  left: 33%;
}

#skill3 {
  max-width: 260px;
  position: absolute;
  right: 0;
  padding-right: 240px;
}

#homephoto {
  margin-top: 10px;
}

#homep {
  float: right;
  position: relative;

}

#poster2 {
  margin-top: 30px;
}

#poster3 {
  float: right;
  position: relative;
}

#poster6 {
  float:right;
  position: relative;
}

#campaign nav ul {
  margin: 0;
}

#bb1 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}
#bb2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}#bb3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}#bb4 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#photom p {
  margin-left: 100px;
}

#mag {
  margin: 0;
}

#magp {
  margin-left: 50px;
  margin-top: 40px;
}


#photos {
  margin-top: 50px;
  overflow: auto;
}

#photo a {
  display: inline-block;
}
